.quizItem {
  border-bottom: 0.8px solid var(--color-blue);
  padding: 1rem 0;
}

.question {
  font-size: var(--font-size-300);
  font-weight: var(--font-weight-700);
  margin-bottom: 0.75rem;
}

.answers {
  display: flex;
  align-items: center;
  gap: 0.81rem;
  flex-wrap: wrap;
}
