*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}

body {
  font-family: var(--font-inter);
  background-image: url("/src/assets/cover-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-karla);
}

img {
  width: 100%;
  display: block;
}

input,
button,
select,
textarea {
  display: block;
  font: inherit;
  color: inherit;
  border: none;
  background: transparent;
}

p {
  line-height: 1.6;
}
